section static
<section id="container">
  <div id="child1" class="child"></div>
  <div id="child2" class="child"></div>
  <div id="child3" class="child"></div>
</section>
<br>
section Flex
<section id="containerFlex">
  <div id="child1f" class="childf"></div>
  <div id="child2f" class="childf"></div>
  <div id="child3f" class="childf"></div>
</section>
<br>
section Column
<section id="containerColumn">
  <div id="child1c" class="childc"></div>
  <div id="child2c" class="childc"></div>
  <div id="child3c" class="childc"></div>
</section>
